@import url('https://fonts.googleapis.com/css2?family=Akronim&display=swap');

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #330066;
}

fieldset {
  width: 80%;
  display: block;
  margin: 20px auto 0 auto;
}

legend {
  text-align: center;
  font-family: 'Akronim', cursive;
  color: white;
}

h2{
  text-align: center;
  font-family: 'Akronim', cursive;
  color: white;
}
.input-list {
  display: block;
  margin: 0 auto;
  height: 32px;
  width: 80%;
  outline: none;
  font-size: 20px;
  padding: 0 10px;
}

.submit-btn {
  display: block;
  margin: 20px auto 0 auto;
  width: 40%;
  height: 40px;
  font: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 900;
  background-color: darkviolet;
  color: white;
  border: none;
  cursor: pointer;
}
ul{
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
ul li{
  background-color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  width: 80%;
  font-weight: 400;
  padding: 10px 10px;
  color: black;
  font-size: 20px;
  text-transform: capitalize;
}
ul li:hover{
    transition: 200ms ease-in-out;
    transform: scale(1.1)

}
.div-edit-update{
  display: flex;
  margin-top: 10px;
  gap: 70%;
  font-size: 22px;
}
.fa-trash{
  color: red;
  cursor: pointer;
}
.fa-pen-to-square{
  color: green;
  cursor: pointer;
}
.checkbox{
  display: block;
  margin-top: 10px;
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 900;
  text-align: center;
}
.completed{
  text-decoration: line-through;
}
@media screen and (min-width: 512px) {
  ul {
      display: flex;
      gap: 10px;
      justify-content: center;
      align-items: center;
    }
}